<!-- <app-calculator></app-calculator> -->
<!-- <app-customer></app-customer> -->
<!-- <app-user></app-user>  -->
<!-- <app-interest-calculation></app-interest-calculation> -->
<!-- <app-pipe-example></app-pipe-example> -->
<!-- <app-employee></app-employee> -->

<nav class="nav navbar-dark bg-light navbar-expand-sm">
    <ul class="navbar-nav ml-4">
        <li class="nav-item">
            <a routerLink='calculator'>
                Calculator
            </a>
        </li>
        <li class="nav-item">
            <a routerLink='customer'>
                Customer
            </a>
        </li>
        <li class="nav-item">
            <a routerLink='employee'>
                Employee
            </a>
        </li>
        <li class="nav-item">
            <a routerLink='interest_calculation'>
                Interest Calculation
            </a>
        </li>
        <li class="nav-item">
            <a routerLink='pipe_example'>
                Pipe Example
            </a>
        </li>
        <li class="nav-item">
            <a routerLink='user'>
                User
            </a>
        </li>
        
        <li class="nav-item">
            <a routerLink='book'>
               Book
            </a>
        </li>

    </ul>

</nav>

<router-outlet></router-outlet>