<div class="container">

    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Dob</th>
        </tr>
        <!-- <tr *ngFor="let c of customer|async"> -->
        <tr *ngFor="let c of customer">
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.salary}}</td>
            <td>{{c.dob}}</td>

        </tr>

    </table>

    <div>
        <button type="button" (click)="addRecord()" class="btn btn-primary"> Add Record </button>
    </div>
</div>
