<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

	<context:property-placeholder
		location="employee.properties" />

	<bean id="h" class="com.cognizant.model.HelloWorld">

	</bean>

	<bean id="emp1" class="com.cognizant.model.Employee"
		scope="prototype">
		<property name="id" value="10001"></property>
		<property name="name" value="ram kumar"></property>
		<property name="salary" value="89000"></property>
	</bean>

	<bean id="emp2" class="com.cognizant.model.Employee">
		<property name="id" value="${employee.id}"></property>
		<property name="name" value="${employee.name}"></property>
		<property name="salary" value="${employee.salary}"></property>
	</bean>

	<bean class="com.cognizant.model.Customer">
		<constructor-arg name="id" value="10002"></constructor-arg>
		<constructor-arg name="name" value="mohan kumar"></constructor-arg>
		<constructor-arg name="salary" value="55000"></constructor-arg>
	</bean>

	<!-- auto wire by type will work -->
	<!-- <bean id="address2" class="com.cognizant.model.Address"> -->
	<!-- auto wire by name must have same injected bean name -->
	<bean id="address" class="com.cognizant.model.Address">

		<property name="addrId" value="1"></property>
		<property name="addrCity" value="chennai"></property>
		<property name="addrLocation" value="sipcot"></property>
		<property name="addrState" value="tamilnadu"></property>
		<property name="addrPin" value="878787"></property>
	</bean>

	<!-- <bean id="user1" class="com.cognizant.model.User" autowire="byType"> -->
	<bean id="user1" class="com.cognizant.model.User"
		autowire="byName">
		<property name="id" value="1001"></property>
		<property name="name" value="amit kumar"></property>
		<!-- <property name="address" ref="address2"></property>bean injection -->
	</bean>
	<!-- injecting collection -->

	<bean class="com.cognizant.model.Book">
		<property name="isbn" value="87878787"></property>
		<property name="publication" value="abp publication"></property>
		<property name="javaBookList">
			<list>
				<value>java beginner</value>
				<value>java in action </value>
				<value>java professional</value>
				<value>java for dummies</value>
				<value>java beginner</value>
			</list>

		</property>
		<property name="sqlBookList">
			<set>
				<value>sql beginner</value>
				<value>sql expert</value>
				<value>sql for dummies</value>
				<value>sql beginner</value>
			</set>
		</property>
		<property name="springbookMap">
			<map>
				<entry key="spring for beginner" value="700"></entry>
				<entry key="spring in action " value="2500"></entry>
				<entry key="spring for beginner" value="700"></entry>
				<entry key="spring aop in action" value="2700"></entry>
				<entry key="spring for professional" value="1700"></entry>
				<entry key="spring for dummies " value="700"></entry>

			</map>
		</property>
	</bean>
	<!-- inner bean -->
	<bean class="com.cognizant.model.PersonInnerBean">
		<property name="id" value="99"></property>
		<property name="name" value="suraj kumar"></property>
		<property name="salary" value="90000"></property>
		<property name="bday">
			<bean class="com.cognizant.model.Birthday">
				<property name="day" value="10"></property>
				<property name="month" value="4"></property>
				<property name="year" value="2020"></property>
			</bean>
		</property>
	</bean>

</beans>