<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletProject1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.pathinfotech.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User1InfoServlet</display-name>
    <servlet-name>User1InfoServlet</servlet-name>
    <servlet-class>com.pathinfotech.User1InfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User1InfoServlet</servlet-name>
    <url-pattern>/User1InfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAction</display-name>
    <servlet-name>CustomerAction</servlet-name>
    <servlet-class>org.pathinfotech.servlet.CustomerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAction</servlet-name>
    <url-pattern>/CustomerAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AspireHeightshome</display-name>
    <servlet-name>AspireHeightshome</servlet-name>
    <servlet-class>org.pathinfotech.servlet.AspireHeightshome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AspireHeightshome</servlet-name>
    <url-pattern>/AspireHeightshome</url-pattern>
  </servlet-mapping>
</web-app>