label {
	width: 100px;
	float: left;
}

input {
	width: 120px;
	margin-bottom: 4px;
}

form, .customer {
	margin-left: 400px;
	margin-top: 100px;
	padding: 2em;
	border: solid 1px;
	width: 25%;
	background: yellowgreen;
}

nav {
	margin-left: 500px;
	margin-top: 50px;
	font-size: 20px;
}
a{
	margin-right: 100px;
}

fieldset {
	width: 60%;
	margin-left: 300px;
	margin-top: 20px;
  background-color: pink;	
}
.form1{background-color: pink;
		margin-left: 80px;
		margin-bottom:100px;
	width: 70%;	
	border:solid 0px;
}
label{
	width:160px;
	float:left;
}


.error{
	margin-left:10px;
	color:red;
}