<div class="container">
    <h2> Employe Search </h2>
    <form class="p-5 m-5 bg-info text-success" (ngSubmit)="deletePerson()">
        <div class="form-group">
            <label>Enter Id</label>
            <input class="form-control" [(ngModel)]="p.id" name="id" #id="ngModel" required>
            <span *ngIf="id.touched && id.errors?.['required']" class="text-warning">
                id is blank
            </span>
        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-success" style="margin-right: 5pt;">Delete</button>
            <button type="button" (click)="gotoshowAllPerson()" style="margin-right: 5pt;" 
            class="btn btn-success">ShowAll </button>
            <button type="button" (click)="gotoaddPerson()"  style="margin-right: 5pt;"
            class="btn btn-success">Add Person</button>
        </div>

        <div [hidden]="!visible">
            <div>{{msg}}</div>
            <div>{{p1.id}} {{p1.name}} {{p1.name}} {{p1.salary}}</div>
        </div>
    </form>