<div class='container bg-dark text-white'>

    <div class='border border-info'>
        {{prd1.prdId}}
        {{prd1.prdName}}
        {{prd1.prdLocation}}

        <ul *ngFor="let p of prd">
            <li>{{p.prdId}}
                {{p.prdName}}
                {{p.prdLocation}}
        </ul>
    </div>
</div>

<br>
<br>
<br>

<button type="button" class="btn btn-primary ml-5" (click)="clickme()"> Click Me </button>
<br>
<br>
<br>

<img [src]="image1">
<img src={{image2}}>
<img src={{image3}} width="200" height="150">
<br>
<img src={{image3}} width={{img_width}} height={{img_height}}>