<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	<aop:aspectj-autoproxy/>
	
	<bean id="code" class="com.pathinfotech.aop.Code">
	</bean>

	<bean id="aop" class="com.pathinfotech.aop.CodeAspect">
	</bean>

	<aop:config>
		<aop:aspect ref="aop">
			<aop:pointcut expression="execution(* com.pathinfotech.aop.Code.display())" id="hello" />
			<aop:before method="method1" pointcut-ref="hello"/>
			<aop:after-returning method="method2" pointcut-ref="hello"/>
		</aop:aspect>
	</aop:config>
</beans>