<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean class="org.audintel.model.ProductInfo">
		<property name="bookList">
			<list>
				<value> spring for beginner   </value>
				<value> spring in action   </value>
				<value> spring for dummies   </value>
				<value> spring for beginner   </value>
			</list>
		</property>

		<property name="carSet">
			<set>
				<value>Maruti 800</value>
				<value>Maruti Suzuki</value>
				<value>Vagon R</value>
				<value>Tata jaguar</value>
				<value>Bolero</value>
				<value>Vagon R</value>
			</set>
		</property>

		<property name="prdMap">
			<map>
				<entry key="90909" value-ref="prd1"></entry>
				<entry key="90901" value-ref="prd2"></entry>
				<entry key="90902" value-ref="prd3"></entry>
			</map>
		</property>
	</bean>
      
      <bean   id="prd1" class="org.audintel.model.Product">
        <property name="prdId" value="1"></property>
        <property name="prdName" value="Medicine"></property>
        <property name="prdCost" value="450"></property>
      </bean>

      <bean   id="prd2" class="org.audintel.model.Product">
        <property name="prdId" value="2"></property>
        <property name="prdName" value="Cycle"></property>
        <property name="prdCost" value="5000"></property>
      </bean>

      <bean   id="prd3" class="org.audintel.model.Product">
        <property name="prdId" value="3"></property>
        <property name="prdName" value="garmets"></property>
        <property name="prdCost" value="4500"></property>
      </bean>
      
      <bean   id="prd4" class="org.audintel.model.Product">
        <property name="prdId" value="2"></property>
        <property name="prdName" value="Music System"></property>
        <property name="prdCost" value="3400"></property>
      </bean>


</beans>