<div class="container">
    <h3>Search By Id </h3>
    <form (ngSubmit)="searchbyId()">
         <div class="form-group">
            <label>Enter Id</label>
            <input class="form-control" [(ngModel)]="id" [ngModelOptions]="{standalone: true}">
         </div>
         <div>
            <button type="submit"> search</button>
         </div>
</form>


{{c1|json}}
{{msg}}

<div>
    <button type="button" (click)="gotoadd()" class="btn btn-secondary">Navigate to Add</button>
    <button type="button" (click)="gotoshowAll()" class="btn btn-secondary">Navigate to Show All</button>
</div>

</div>
