<nav class="navbar navbar-expand-sm navbarC">
    <div class="container">
         <h2>Flight Management System</h2>
    <ul class="navbar-nav">
        
        <li class="nav-item">
             <a routerLink="/search">Flight Search</a>
        </li>
        <li class="nav-item">
          <a routerLink='/allFl'>Flight view</a>
     </li>
     <li class="nav-item">
      <a routerLink='/addFlight'>Flight add</a>
    </li>
    <li class="nav-item">
      <a routerLink='/scheduledFlight/search'>Schedule Flight view</a>
   </li>
   <li class="nav-item">
    <a routerLink='/scheduledFlight/add'>Add Schedule Flight</a>
 </li>
 <li class="nav-item">
    <a routerLink='/scheduledFlight/viewAllF'>View All Schedule Flight</a>
  </li>
    </ul>
    </div>
  </nav>

<!--<div class="container">
    <div class="flight">
        <h2 style="text-align: center;">Adding Flight Details</h2> 
<hr/>
<form >

    <div class="form group">
        <label for="Name:">Flight Number:</label>
        <input type="number" name="number" id="Fnumber" class="form-control" [(ngModel)]="flightNumber" required>
    </div>
    <div class="form group">
        <label for="">Flight Model:</label>
        <input type="text" name="model" id="mode"class="form-control" [(ngModel)]="flightModel" required>
    </div>
    <div class="form group">
        <label for="">Carrier name:</label>
        <input type="text" name="cName" id="cName" class="form-control" [(ngModel)]="carrierName" required>
    </div>
    <div class="form group">
        <label for="">Seat Capacity:</label>
        <input type="number" name="seatC" id="seatC" class="form-control" [(ngModel)]="seatCapacity" required>
    </div>
<br>
<br>
</form>
<button (click)="add()" class="btn btn-primary update">Add</button><br>

    </div>
  </div>-->

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-2 formo">
           
          <form #enForm="ngForm" class="booking">
           
              <div class="form-group">
                  <label class="form-label">Enter the Flight Number</label>
                  <input type="bigInt" name="name" class="form-control" ngModel #flightNumber="ngModel"  required [class.is-invalid]="flightNumber.invalid && flightNumber.touched">
                  <small [class.d-none]="flightNumber.valid || flightNumber.untouched" class="text-danger">Flight Number is mandatory</small>
         
                </div>
              <div class="form-group">
                <label class="form-label">Enter the Flight Model</label>
                <input type="text" name="age" class="form-control" ngModel #flightModel="ngModel"  required [class.is-invalid]="flightModel.invalid && flightModel.touched">
                <small [class.d-none]="flightModel.valid || flightModel.untouched" class="text-danger">Flight Model is mandatory</small>
              </div>
            <div class="form-group">
              <label class="form-label">Enter the Carrier Name</label>
              <input type="text" name="luggage" class="form-control" ngModel #carrierName="ngModel"  required [class.is-invalid]="carrierName.invalid && carrierName.touched">
              <small [class.d-none]="carrierName.valid || carrierName.untouched" class="text-danger">carrierName is mandatory</small>
            </div>
            <div class="form-group">
                <label class="form-label">Enter the Seat Capacity</label>
                <input type="number" name="luggage" class="form-control" ngModel #seatCapacity="ngModel"  required [class.is-invalid]="seatCapacity.invalid && seatCapacity.touched">
                <small [class.d-none]="seatCapacity.valid || seatCapacity.untouched" class="text-danger">seatCapacity is mandatory</small>
              </div>
          <input type="button" class="btn btn-primary" value="Add Passenger" (click)="add(flightNumber.value,flightModel.value,carrierName.value,seatCapacity.value)" [disabled]="enform.form.invalid">
    
          </form>
      </div>
    </div>
    </div>