form {
	margin-left: 300px;
	background-color: lightyellow;
	padding: 20px;
	border: solid;
	width: 60%;
}

label {
	width: 110pt;
	float: left;
	margin-top: 5px;
}

input {
	margin-top: 5px;
	width: 110pt;
}
span{
	color:red;
}
button {
	margin-top: 2px;
	width: 110pt;
}
