<div class="container">
    <div *ngIf="msg==''">
        <h1>All Book table</h1>
        <table class="table table-bordered bg-info">
            <tr>
                <th>isbn</th>
                <th>name</th>
                <th>cost</th>
            </tr>
            <!--1. <tr *ngFor="let b1 of b|async"> -->
            <tr *ngFor="let b1 of b">
                <td>{{b1.isbn}}</td>
                <td>{{b1.bname}}</td>
                <td>{{b1.cost}}</td>
            </tr>

        </table>
    </div>
    <div *ngIf="msg!=''">
       {{msg}}
    </div>
    <!-- message is {{msg}} -->
</div>