h1{
    background: yellow;
    color:blue  ;
    width:40%;
             }
             p{
            text-align: center;
            text-transform: uppercase;
             }
             div{
                 border:20px inset;
                 width:50%;
                margin-left: 200px;
                margin-top: 30px;
                padding:20px;
                background: lightsteelblue;
             }
