table{
    /* background-color:chartreuse; */
    color:blue;
    border:10px solid;
    padding:20px;
    margin-left:400px;
    margin-top:50px;
    width:50%;
}
tr,th,td{
    border:1px solid;
    text-align:center;
    /* padding :10px; */
    text-transform:capitalize;
}
tr{
    background:aqua;
}
caption{
    color:blueviolet;
    font-size: 20px;
    text-decoration: underline;
    text-transform: uppercase;
}

 .fline{
  background: yellow;
  color:brown;
 }
