<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="emp1" class="org.audintel.model.Employee"
		 init-method="init" lazy-init="true">
		<property name="id" value="5656767"></property>
		<property name="name" value="kundan kumar"></property>
		<property name="salary" value="45000"></property>
	</bean>
	
	<bean id="emp2" class="org.audintel.model.Employee"
	  lazy-init="true"	   p:id="6767677" p:name="adarsh" p:salary="56000" >
	</bean>
	


	<bean id="customer1" class="org.audintel.model.CustomerImpl">
		<constructor-arg name="customerId" value="8777887"></constructor-arg>
		<constructor-arg name="customerName" value="sundar k"></constructor-arg>
		<constructor-arg name="customerLocation"
			value="hyderabad"></constructor-arg>
	</bean>

	<bean class="org.audintel.model.User" autowire="byName">
		<property name="userId" value="6756675"></property>
		<property name="userName" value="vishnu dev sharma"></property>
		<property name="userLocation" value="bhuvneswar"></property>
	</bean>

	<bean   class="org.audintel.model.Address">
		<property name="addrId" value="675678788"></property>
		<property name="addrSector" value="sector 5"></property>
		<property name="addrCity" value="katak"></property>
		<property name="addrState" value="oddisa"></property>
		<property name="addrPin" value="6556565665"></property>
		<property name="addrCountry" value="India"></property>
	</bean>






</beans>