<!-- <h1>Hello world</h1>
<h2>Title is {{title}} </h2>
<h2>Id is {{id}} </h2> -->

<!-- <app-employee></app-employee> -->
<!-- <app-user></app-user> -->
<!-- <app-calculator></app-calculator> -->
<!-- <app-templatedriven></app-templatedriven> -->
<!-- <app-reactiveform></app-reactiveform> -->

<div class="container">
    <nav class="nav navbar-dark bg-light navbar-expand-sm">
        <ul class="navbar-nav" style="margin-left: 70pt;">
           <li class="nav-item" style="float:left">
             <a routerLink="calculator">calculator</a>
           </li>

           <li class="nav-item" style="float:left;margin-left: 10pt;">
             <a routerLink="employee">employee</a>
           </li>

           <li class="nav-item" style="float:left;margin-left: 10pt;">
             <a routerLink="user">user</a>
           </li>

           <li class="nav-item" style="float:left;margin-left: 10pt;">
             <a routerLink="reactive">reactive form</a>
           </li>

           <li class="nav-item" style="float:left;margin-left: 10pt;">
             <a routerLink="template">template  form</a>
           </li>

           <li class="nav-item" style="float:left;margin-left: 10pt;">
             <a routerLink="customer">customer form(Params Subscribe)</a>
           </li>
          <li class="nav-item" style="float:left;margin-left: 10pt;">
             <a routerLink="customer1">customer form1(Params SnapShot)</a>
           </li>
          <li class="nav-item" style="float:left;margin-left: 10pt;">
           <a routerLink="promise">Promise</a>  
          </li>

        </ul>
    </nav>
</div>
<router-outlet />
