<!-- <app-counterapp1></app-counterapp1> -->
<!-- <app-counterapp2></app-counterapp2> -->
<!-- <app-counterapp3></app-counterapp3> -->
 <app-shopping-kart></app-shopping-kart>
<!-- <app-shopping-kart1></app-shopping-kart1> -->
 <!-- product list lazy loading -->
 <!-- 
<nav>
  <a routerLink="">Home</a> |
  <a routerLink="/products">Products</a>
</nav> -->

<!-- <app-shopping-kart1></app-shopping-kart1> -->

<!-- shopping kart1 -->

<!-- <div class="container">
  <h1>Shopping Kart1 </h1>
  <div class="row">
    <div class="col">
      <a routerLink="cart">Cart</a>
    </div>
    <div class="col">
      <a routerLink="product">Product</a>
      <router-outlet/>
    </div>
  </div>
</div> -->


<router-outlet />
