<div class="container">

    <form class="bg-info p-5 ms-5 mt-5" style="border-radius: 25pt;" (ngSubmit)="addrecord()">
        <div class="form-group">
            <label>enter name</label>
            <input class="form-control" required minlength="10" [(ngModel)]="p.name" #name="ngModel" name="name">
            <span *ngIf="name.touched && name.errors?.['required']" class="text-danger">
                name is blank
            </span>
            <span *ngIf="name.touched && name.errors?.['minlength']" class="text-warning">
                name must of minimum 10 character
            </span>
        </div>

        <div class="form-group ">
            <label>enter salary</label>
            <input class="form-control" required min="5000" [(ngModel)]="p.salary" #salary="ngModel" name="salary">
            <span *ngIf="salary.touched && salary.errors?.['required']" class="text-danger">
                salary is blank
            </span>

            <span *ngIf="salary.touched && salary.errors?.['min']" class="text-warning">
                salary must of minimum 5000
            </span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary  mt-2">add record</button>
            <button type="reset" class="btn btn-primary mt-2 ms-2">cancel</button>
        </div>
        <div>
            {{msg}}
            {{this.p1|json}}
        </div>
    </form>

</div>