<div class="container">
    <h1>Product All Service</h1>
    <table class="table tabled-border p-5 m-5 table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Cost</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let b of book|async">
                <td>{{b.isbn}}</td>
                <td>{{b.bname}}</td>
                <td>{{b.cost}}</td>
            </tr>
        </tbody>
    </table>



</div>