<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="product.properties">
        </property>
    </bean>

    <bean id="prd1" class="com.cts.model.Product">
        <property name="id" value="${prd.productid}"></property>
        <property name="name" value="${prd.productname}"></property>
        <property name="cost" value="${prd.productcost}"></property>
    </bean>

</beans>