<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<bean id="emp1" class="org.com.Employee" p:id="1001" p:name="mahesh kumar">
		<property name="address" ref="addr1"></property>
	</bean>

	<!-- <bean id="emp1" class="org.com.Employee"> <property name="id" value="1001"></property> 
		<property name="name" value="mahesh kumar"></property> <property name="address" 
		ref="addr1"></property> </bean> -->
	<bean id="addr1" class="org.com.Address">
		<property name="location" value="thoraipakkam"></property>
		<property name="city" value="chennai"></property>
		<property name="country" value="india"></property>
	</bean>

	<bean id="cust1" class="org.com.Customer">
		<constructor-arg name="cid" value="8888" />
		<constructor-arg name="cname" value="mohan kumar" />
	</bean>
</beans>