<div class="column" style="background-color:salmon">
    <div class="col-sm-4">
        <table>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <a routerLink='home'><img
                            src="https://cdn4.iconfinder.com/data/icons/medical-and-healthcare-2/64/1-72-512.png"
                            style="width:42px;height:42px;border:0;" alt="Health Care System"></a></td>
                <td>
                    <h1> <b> Health Care Hospital</b></h1>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
</div>

<router-outlet></router-outlet>
<p style="text-align: center; margin-bottom: auto;margin-top: 15%; background-color: aliceblue;">Thanks for Being here!!
    <br> @copyright <br>Work-From-Home</p>