<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="datasource1"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url"
			value="jdbc:mysql://localhost:3306/dbaj06"></property>
		<property name="username" value="root"></property>
		<property name="password" value="mysql"></property>
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver"></property>
	</bean>

	<bean id="datasource2"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="datasource1"></property>
	</bean>

	<bean id="dao" class="cts.com.dao.CustomerDao">
		<property name="jdbcTemplate" ref="datasource2"></property>
	</bean>

	<!-- *********************************** aop code ******************************** -->

	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>

	<bean id="prg1" class="cts.com.aop.MyProgram">
	</bean>

	<bean id="asp1" class="cts.com.aop.MyAspect">
	</bean>

	<aop:config>
		<aop:aspect ref="asp1">
			<aop:pointcut
				expression="execution(* cts.com.aop.MyProgram.display() )" id="id1" />
			<aop:before method="method1" pointcut-ref="id1" />
			<aop:after method="method2" pointcut-ref="id1" />
		</aop:aspect>
	</aop:config>


	<!-- using annotation -->

	<bean id="prg2" class="cts.com.aop.MyProgram1">
	</bean>

	<bean id="asp2" class="cts.com.aop.MyAspect1">
	</bean>


</beans>













