<div class="container">
    <div *ngFor="let item of items">
        {{ item.name }}
        {{ item.price }}
    </div>

    <table class="table table-bordered p-5 m-5">
        <tr>
            <th>name</th>
            <th>price</th>
        </tr>
        <tr *ngFor="let item of items">
            <td>
                {{ item.name }}

            </td>

            <td>
                {{ item.price }}

            </td>
            
        </tr>
    </table>



    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
    <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages - 1">Next</button>
</div>