label{
	float:left;
	width: 120px;
	
}
input{
	size: 120px;
	margin-bottom: 5px;
	width: 120px;
}

form{
	margin-left: 450px;
	margin-top: 100px;
	padding: 20px;
	height: 300px;;
	border: solid;
	background-color: greenyellow;
	width: 30%;
	
}
span{
	font-weight: bold;
}

body{
	background-color: cadetblue;
	
}