<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean class="org.example.Employee" autowire="byName"  init-method="startup" >
        <property name="id" value="10001"></property>
        <property name="name" value="navin kumar"></property>
        <property name="salary" value="20000"></property>

        <!--<property name="address" ref="addr"></property>-->
    </bean>

    <bean  id="address" class="org.example.Address">
        <property name="addrId" value="989898"></property>
        <property name="city" value="new delhi"></property>
        <property name="state" value="delhi"></property>
        <property name="country" value="india"></property>
    </bean>


    <bean  class="org.example.User" init-method="init" lazy-init="true">
          <property name="userId" value="7887"></property>
          <property name="userName" value="ramakant"></property>
          <property name="userSalary" value="76000"></property>


    </bean>

</beans>