<h1>Update Product Form</h1>
<form (ngSubmit)="onSubmit()" >
<div class="form-group">
        <label for="name">Enter Name</label>
        <input  class="form-control" id="name"  required   [(ngModel)]="prd.prdName" name="name" >
    </div>

    <div class="form-group">
            <label for="cost">Enter Cost</label>
            <input  class="form-control" id="cost"   required   [(ngModel)]="prd.prdCost" name="cost" >
    </div>
    
    <button type="submit" class="btn btn-success" >Submit</button>
</form>
