label {
	float: left;
	width: 120px;
}

input {
	width: 120px;
	margin-bottom: 5px;
}

h1 {
	margin-left: 300px;
}

form {
	margin-left: 300px;
	background: yellowgreen;
	padding: 1em;
	width: 30%;
	border: solid 1px;
}
