<!-- <app-product></app-product> -->

 <nav class="navbar navbar-dark bg-dark   navbar-expand-sm" style="color:white">
<!--<nav class="navbar navbar-inverse navbar-expand-sm">-->

  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink='showall'>
        Show All
      </a>
    </li>

    <li class="nav-item ml-5">
      <a routerLink='add'>
        Add Product
      </a>
    </li>
    <li class="nav-item ml-5">
      <a routerLink='search'>
        Search Product
      </a>
    </li>
    <li class="nav-item ml-5">
      <a routerLink='delete'>
        Delete Product
      </a>
    </li>
    <li class="nav-item ml-5">
      <a routerLink='update'>
        Update Product
      </a>
    </li>

  </ul>
</nav>


<router-outlet></router-outlet>
