<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<bean id="chapter" class="org.capg.Chapter">
		<constructor-arg name="chapterNo" value="1"></constructor-arg>
		<constructor-arg name="chapterName" value="java basic"></constructor-arg>
		<constructor-arg name="chapterQuestion"
			value="what is loop"></constructor-arg>
	</bean>

	<bean id="book" class="org.capg.Book" autowire="constructor">
		<constructor-arg name="isbn" value="87678878"></constructor-arg>
		<constructor-arg name="bname" value="java beginner"></constructor-arg>
		<constructor-arg name="author" value="p kumar"></constructor-arg>
		<constructor-arg name="price" value="456"></constructor-arg>
	<!-- 	<constructor-arg name="chapter" ref="chapter1"></constructor-arg> -->
	</bean>

	<bean id="info" class="org.capg.EmployeeInfo">

	</bean>


	<bean id="emp1" class="org.capg.Employee">
		<property name="id" value="989898" />
		<property name="name" value="suresh mohan" />
		<property name="salary" value="14000.00f" />
	</bean>

	<bean id="customer1" class="org.capg.Customer">
		<constructor-arg name="customerId" value="877887" />
		<constructor-arg name="customerName"
			value="suresh parbhu" />
		<constructor-arg name="customerLocation"
			value="chennai" />
	</bean>

	<bean id="user1" class="org.capg.User">
		<property name="userId" value="989898" />
		<property name="userName" value="praveen kumar" />
		<property name="userAge" value="20" />

		<property name="prdList">

			<list>
				<value>book</value>
				<value>tv</value>
				<value>mobile</value>
				<value>tv</value>
				<value>laptop</value>
			</list>
		</property>

		<property name="locationSet">
			<set>
				<value>delhi</value>
				<value>noida</value>
				<value>delhi</value>
				<value>chennai</value>
			</set>
		</property>

		<property name="userDepartment">
			<map>
				<entry key="dep1" value="training"></entry>
				<entry key="dep2" value="development"></entry>
				<entry key="dep3" value="delievery"></entry>
				<entry key="dep4" value="medical"></entry>
			</map>
		</property>

		<property name="userState">
			<props>
				<prop key="tn">TamilNadu</prop>
				<prop key="kn">Karnataka</prop>
				<prop key="ke">kerala</prop>
				<prop key="up">UttarPardesh</prop>
				<prop key="ap">Andhra Pardesh</prop>
				<prop key="hp">Himanchal Pardesh</prop>
			</props>

		</property>

	</bean>


</beans>
