<div class='container bg-dark text-light p-4 mt-4'>
    <span>Customer Form</span>
    <form #qform="ngForm" (onSubmit)="onSubmit()" class='p-4 ml-4 mt-4' style="width:100%">

        <div class='from-group row'>
            <label class='col-sm-2 col-form-label'>Enter Id</label>
            <input class='form-control col-sm-6' required [(ngModel)]="cust.customerId" #customerId="ngModel" minlength="3" name="customerId">

            <div *ngIf="customerId.touched && customerId.errors">

                <div class="alert alert-danger" *ngIf="customerId.errors.required">
                    Customer Id is blank
                </div>

                <div class="alert alert-danger" *ngIf="customerId.errors.minlength">
                    Customer Id must be of 3 digit
                </div>
            </div>
        </div>

        <div class='from-group row'>
            <label class='col-sm-2 col-form-label'>Enter Name</label>
            <input class='form-control col-sm-6' required [(ngModel)]="cust.customerName" #customerName="ngModel" minlength="10" name="customerName">

            <div *ngIf="customerName.touched && customerName.errors">

                <div class="alert alert-danger" *ngIf="customerName.errors.required">
                    Customer Name is blank
                </div>

                <div class="alert alert-danger" *ngIf="customerName.errors.minlength">
                    Customer Name must be of 10 digit
                </div>
            </div>
        </div>


        <div class='from-group row'>
            <label class='col-sm-2 col-form-label'>Enter Salary</label>
            <input class='form-control col-sm-6' required [(ngModel)]="cust.customerSalary" name="customerSalary" #customerSalary="ngModel" minlength="4">
            <div *ngIf="customerSalary.touched && customerSalary.errors" name="customerSalary">

                <div class="alert alert-danger" *ngIf="customerSalary.errors.required">
                    Customer Salary is blank
                </div>
                <div class="alert alert-danger" *ngIf="customerSalary.errors.minlength">
                    Customer Salary must be of 5 digit
                </div>
            </div>
        </div>
    </form>
</div>