label{
   width:100px;
   float:left;   
   
}
input{
	 width:120px;
     margin-bottom:5px;   
}
form{
	margin-top:100px;
	margin-left:450px;
	border:double ;
	width:35%;
	padding:20px;
}

span{
	color:red;
	
}