.err1 {
	color: red;
}

label {
	float: left;
	width: 230px;
	font-weight: bold;
}

f:input {
	width: 120px;
	margin-top: 10px;
}

form {
	margin-left: 400px;
	margin-top: 50px;
	padding: 1em;
	border: solid;
	width: 50%;
	background-color: lime;
	height: 400px;
}