<!-- <app-employee></app-employee> -->
<!-- <app-product></app-product> -->
<!-- <app-user></app-user> -->
<!-- <app-calculator></app-calculator> -->
<!-- <app-pipe-example></app-pipe-example> -->
<!-- <app-customer></app-customer> -->
<!-- <app-consumer></app-consumer> -->
<div class="container">
    <nav class="nav navbar-dark bg-light navbar-expand-sm">
        <ul class="navbar-nav" style="margin-left: 70pt;">
            <li class="nav-item" style="float:left">
                <a routerLink="calculator">Calculator</a>
            </li>
            
            <li class="nav-item" style="float:left; margin-left: 10pt;">
                <a routerLink="consumer">Consumer</a>
            </li>
            
            <li class="nav-item" style="float:left;margin-left: 10pt;">
                <a routerLink="customer">Customer</a>
            </li>
            
            <li class="nav-item" style="float:left;margin-left: 10pt;">
                <a routerLink="employee">Employee</a>
            </li>
            
            <li class="nav-item" style="float:left;margin-left: 10pt;">
                <a routerLink="pipe">Pipe-Example</a>
            </li>
            
            <li class="nav-item" style="float:left;margin-left: 10pt;">
                <a routerLink="user">User</a>
            </li>

        </ul>

    </nav>

</div>

<router-outlet />