<!--<h1>Update Test Details</h1>

<div *ngIf="test">
    <div>
        <label><b>Test Id</b></label>{{test.testId}}
    </div>

    <div>
        <label><b>Test Title</b></label>{{test.testTitle}}
    </div>

    <div>
        <label><b>Test Duration</b></label>{{test.testDuration}}
    </div>

    <div>
        <label><b>Test Total Marks</b></label>{{test.testTotalMarks}}
    </div>

    <div>
        <label><b>Test Start Time</b></label>{{test.startTime}}
    </div>
    
    <div>
        <label><b>Test End Time</b></label>{{test.endTime}}
    </div>
</div>
<br>
<button (click)="list()"> Go Back</button>-->