<h1>Update Test Form</h1>

<div class="row" style="margin-bottom: 100px;">
    <div class="col-sm-4">This is 1-3 column here  </div>
    <div class="col-sm-4">
<div style="width: 600px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="testId" placeholder="Name">Enter Test Id</label>
            <input class="form-control" id="name" required [(ngModel)]="test.testId" name="testId">
        </div>
        <div class="form-group">
            <label for="testName" placeholder="Name">Enter Test Name</label>
            <input class="form-control" id="name" required [(ngModel)]="test.testName" name="testName">
        </div>
        <div class="form-group">
            <label for="testDetails" placeholder="Name">Enter Test Details</label>
            <input class="form-control" id="name" required [(ngModel)]="test.testDetails" name="testDetails">
        </div>
        <div class="form-group">
            <label for="testCost" placeholder="Cost">Enter Test cost</label>
            <input class="form-control" id="cost" required [(ngModel)]="test.testCost" name="testCost">
        </div>
        <button type="submit" class="btn-success" >Submit</button>
        &nbsp;&nbsp;&nbsp;
        <button type="reset" (click)="gotoList()">Go Back</button>
    </form>
</div>
</div>
</div>
