<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Angular JWT Auth</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" >
          <a class="nav-link" aria-current="page"  routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active" >Admin Board</a>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-danger" type="submit" (click)="handleLogout()">logout</button>
      </form>
    </div>
  </div>
</nav>
