<div style="background-image:  url({{image}});background-repeat: no-repeat;margin-left: 250px;">
    
    <table>
        <tr>
            <td class="class1">Author</td>
            <td style="width:200px">{{author}}</td>
        </tr>
        <tr>
            <td class="class1">Posted Date</td>
            <td style="width:200px">{{posted_date}}</td>
        </tr>

        <tr>
            <td class="class1">Category</td>
            <td style="width:200px">{{category}}</td>
        </tr>

        <tr>
            <td class="class1">Likes</td>
            <td style="width:200px">{{likes}}</td>
        </tr>
        
        <tr>
            <td class="class1"></td>
            <td></td>
        </tr>


    </table>
</div>