<div class="container">
    <table class="table table-bordered  table-striped w-25  m-5 p-5 border border-primary">
        <tr>
            <td>
                <h1>User Page</h1>
            </td>
        </tr>

        <tr>
            <td><label>id is {{id}}</label></td>
        </tr>

        <tr>
            <td><label>name is {{name}}</label></td>
        </tr>

        <tr>
            <td><label>salary is {{salary}}</label></td>
        </tr>

        <tr>
            <td> <label>location is {{location}}</label></td>
        </tr>

        <tr>
            <td><label>state is {{state}}</label></td>
        </tr>
    </table>
    <hr>

    <form class="text-light bg-dark p-5" style="border-radius:30px">
        <div class="form-group">
            <label>Enter Id</label>
            <input class="form-control">
        </div>
        <div class="form-group">
            <label>Enter name</label>
            <input class="form-control">
        </div>
        <div class="form-group">
            <label>Enter Salary</label>
            <input class="form-control">
        </div>
        <div class="form-group">
            <label>Enter Location</label>
            <input class="form-control">
        </div>

        <div class="form-group">
            <label>Enter State</label>
            <input class="form-control">
        </div>
        
    </form>
</div>