<div class="container">
<table class="table table-bordered  table-striped w-25  m-5 p-5 border border-primary">
    <tr>
        <td>
            <h1>User Page</h1>
        </td>
    </tr>

    <tr>
        <td><label>id is {{id}}</label></td>
    </tr>

    <tr>
        <td><label>name is {{name}}</label></td>
    </tr>

    <tr>
        <td><label>salary is {{salary}}</label></td>
    </tr>

    <tr>
       <td> <label>location is {{location}}</label></td>
    </tr>

    <tr>
        <td><label>state is {{state}}</label></td>
    </tr>
</table>

</div>