<div class="container">
    <table class="table table-bordered  table-striped w-25  m-5 p-5 border border-primary">
        <tr>
            <td>
                <h1>User Page</h1>
            </td>
        </tr>

        <tr>
            <td><label>id is {{id}}</label></td>
        </tr>

        <tr>
            <td><label>name is {{name}}</label></td>
        </tr>

        <tr>
            <td><label>salary is {{salary}}</label></td>
        </tr>

        <tr>
            <td> <label>location is {{location}}</label></td>
        </tr>

        <tr>
            <td><label>state is {{state}}</label></td>
        </tr>
    </table>
    <hr>

    <form class="text-light bg-secondary p-5" style="border-radius:30px">
        <div class="form-group">
            <label>Enter Id</label>
            <input class="form-control" [(ngModel)]="id" name="id">
        </div>
        <div class="form-group">
            <label>Enter name</label>
            <input class="form-control" [(ngModel)]="name" name="name">
        </div>
        <div class="form-group">
            <label>Enter Salary</label>
            <input class="form-control" [(ngModel)]="salary" name="salary">
        </div>
        <div class="form-group">
            <label>Enter Location</label>
            <input class="form-control" [(ngModel)]="location" name="location">
        </div>

        <div class="form-group">
            <label>Enter State</label>
            <input class="form-control" [(ngModel)]="state" name="state">
        </div>
        <div class="form-group">

            <input type="submit" class="btn btn-primary">
            <input type="reset" class="btn btn-primary m-3" >
        </div>
      
        <div class="border border-info w-50 ml-5 p-5 text-light bg-dark" style="border-radius:25px">
            <div>
             Id is {{id}}
            </div>
            <div>
             name is {{name}}
            </div>
            <div>
             Salary is {{salary}}
            </div>
            <div>
             Location is {{location}}
            </div>
            <div>
             State is {{state}}
            </div>

        </div>
    </form>
</div>