<div class="style2">

    <h1>product page</h1>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Cost</th>
        </tr>
        <tr>
            <td>{{prd.prdid}}</td>
            <td>{{prd.prdname}}</td>
            <td>{{prd.prdcost}}</td>
        </tr>

        <tr>
            <td>{{prd1[0].prdid}}</td>
            <td>{{prd1[0].prdname}}</td>
            <td>{{prd1[0].prdcost}}</td>
        </tr>

    </table>

</div>



<div class="style2">

    <h1 class='m-5 p-2 bg-dark border border-light text-light'>product page</h1>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Cost</th>
        </tr>
        <tr *ngFor="let  p of prd1">
            <td>{{p.prdid}}</td>
            <td>{{p.prdname}}</td>
            <td>{{p.prdcost}}</td>
        </tr>
    </table>
</div>

<div class="'m-5 p-5 bg-dark border border-light text-light style2">
    sum of 10 and 20 is {{10+20}}
</div>

<div class="m-5 p-5 bg-dark border border-light text-light style2">
    <!-- <img src="https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510_960_720.jpg"> -->
    <img [src]="prdImage" [width]="prdImageWidth" [height]="[prdImageHeight]">
</div>

<div class="m-5 p-5 bg-dark border border-light text-light style2">
    <table class="table table-striped table-bordered table-hover">
        <tr *ngFor="let  prdimage of prdImageArr">
            <td><img [src]=prdimage [width]="prdImageWidth" [height]="[prdImageHeight]"></td>
        </tr>
    </table>
    <button (click)='method1()'>click me</button>
</div>