.style2{
    background-color: burlywood;
    width:39%;
    margin-left:  300px;;
    padding: 20px;
    border:double 20px;
    text-align: left;
    float:left;
    width:50%;
    margin-bottom: 100px;
 
}
/* 
table{
    background-color: aliceblue;
    color: blueviolet;
    border: solid;
    margin-left:170px;
}
tr,th,td{
    border: solid;
} */

table,tr,td,th{
    border:solid blue;
}
h1{
    text-align: center;
}
