 label {
	 width: 100px;
	 float: left;
}

input {
	 width: 120px;
	 margin-top: 5px;
}

input[type='submit']{
 width:100px;
}

form {
   margin-left: 400px;
   margin-top: 200px;
   background-color: orange;
   color:blue;
   border:solid;
   width:30%;	
   padding: 1em;
}
