<html>

<head>
</head>

<body>
    <h1 class="text-primary bg-dark p-3" style="width:50%;margin:auto">Two Way Binding</h1>
    <div class="form-group text-info  p-5 bg-dark" style="width:50%;margin:auto">

        <label for="roll">Enter Roll</label>
        <input [(ngModel)]="student.studentRoll" class="form-control" id="roll"><br>

        <label for="name">Enter Name</label>
        <input [(ngModel)]="student.studentName" class="form-control" id="name"><br>

        <label for="subject">Enter Subject</label>
        <input [(ngModel)]="student.studentSubject" class="form-control" id="subject"><br>

        <label for="marks">Enter Marks</label>
        <input [(ngModel)]="student.studentMarks" class="form-control" id="marks"><br>
    </div>

    <div class="form-group text-info  p-5 bg-dark" style="width:50%;margin:auto;margin-top:10px">
        Student Details
        <br>Roll is {{student.studentRoll}}
        <br>Name is {{student.studentName|uppercase}}
        <br>Subject is {{student.studentSubject}}
        <br>Marks is {{student.studentMarks}}
        <br>
        <span *ngIf="student.studentMarks>=0  && student.studentMarks<35">Grade : Fail</span>
        <span *ngIf="student.studentMarks>=35  && student.studentMarks<50">Grade : Third Division</span>
        <span *ngIf="student.studentMarks>=50  && student.studentMarks<60">Grade : Second Division</span>
        <span *ngIf="student.studentMarks>=60  && student.studentMarks<175">Grade : First</span>
        <span *ngIf="student.studentMarks>=75  && student.studentMarks<=100">Grade : Distinction</span>

    </div>
</body>

</html>