<div class="jumbotron">
    
        <div class="card">
            <div class="card-header"><b>UPDATE TEST FORM</b></div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()">

                        <div class="form-group">
                            <label for="title">Enter Test Title</label>
                            <input class="form-control" id="title" required [(ngModel)]="test.testTitle" name="title">
                        </div>
                            
                        <div class="form-group">
                            <label for="duration">Enter Test Duration</label>
                            <input class="form-control" id="duration" required [(ngModel)]="test.testDuration" name="duration">
                        </div>
                        
                        <div class="form-group">
                            <label for="startTime">Enter Test Start Time</label>
                            <input class="form-control" id="startTime" required [(ngModel)]="test.startTime" name="startTime">
                        </div>

                        <div class="form-group">
                            <label for="endTime">Enter Test End Time</label>
                            <input class="form-control" id="endTime" required [(ngModel)]="test.endTime" name="endTime">
                        </div>

                       <button type="submit" class="btn btn-success"> Update Test</button>
                    </form>
            </div>
        </div>
    </div>


