<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.3.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<context:annotation-config />
	<context:component-scan
		base-package="org.capg.model,org.capg.dao">
	</context:component-scan>

	<bean id="bank" class="org.capg.model.Bank">
		<property name="bankRegNo" value="878787987"></property>
		<property name="bankName" value="hdfc"></property>
		<property name="bankLocation" value="pune"></property>
	</bean>

	<bean id="manager1" class="org.capg.model.Manager">
		<property name="managerId" value="1001"></property>
		<property name="managerName" value="amit kumar verma"></property>
	</bean>

	<bean id="manager2" class="org.capg.model.Manager">
		<property name="managerId" value="1002"></property>
		<property name="managerName" value="sumit kumar verma"></property>
	</bean>

	<bean id="user1" class="org.capg.model.User">
		<constructor-arg name="userId" value="76766" />
		<constructor-arg name="userName"
			value="amitendra kumar" />
		<constructor-arg name="userSalary" value="56000" />
	</bean>

	<bean id="user2" class="org.capg.model.User" c:userId="1"
		c:userName="virendra kumar" c:userSalary="67000" />

	<bean class="org.capg.model.AithmeticSpel" id="logical">
		<property name="and" value="#{200 gt 100 and 10 lt 20}"></property>
		<property name="or" value="#{200 gt 100 or 10 lt 2}"></property>
		<property name="not" value="#{!true}"></property>
		<property name="count" value="#{100}"></property>
		<!-- <property name="message" value="#{hello world}"></property> -->
	</bean>

	<bean id="city1" class="org.capg.model.City">
		<property name="name" value="new delhi"></property>
		<property name="population" value="1200000"></property>
		<property name="state" value="delhi"></property>
		<property name="cityList">
			<list>
				<value>delhi</value>
				<value>chennai</value>
				<value>kolkotta</value>
				<value>banglore</value>
				<value>mumbai</value>
			</list>
		</property>
	</bean>

	<bean id="city2" p:name="chennai" p:population="3400000"
		p:state="tamil nadu" p:cityList-ref="citylist1"  class="org.capg.model.City">

	</bean>
	
	<util:list id="citylist1" list-class="java.util.ArrayList">
		<value>aurangabad</value>
		<value>sholapur</value>
		<value>pune</value>
		<value>madurai</value>
		<value>hyderabad</value>
	</util:list>
</beans>
