<!-- <app-getallcustomer></app-getallcustomer> -->

<div class="container">
    <nav class="nav navbar-dark bg-light navbar-expand-sm">
        <ul class="navbar-nav" style="margin-left: 70pt;">
            <li class="nav-item" style="float:left">
                <a routerLink="all customer">all customer</a>
            </li>
            <li class="nav-item" style="float:left;margin-left: 20pt;">
                <a routerLink="add customer">add customer</a>
            </li>
            <li class="nav-item" style="float:left;margin-left: 20pt;">
                <a routerLink="search byid">search customer by id </a>
            </li>
        </ul>
    </nav>
</div>



<router-outlet />