<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- bean definitions here -->

	<bean id="mysqlds" class="com.mysql.cj.jdbc.MysqlDataSource">
		<property name="url" value="jdbc:mysql://localhost/db2"></property>
		<property name="user" value="root"></property>
		<property name="password" value=""></property>
	</bean>

	<bean id="mysessionfactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="mysqlds"></property>
		<property name="mappingResources">
		<list>
		  <value>org/audintel/dao/Employeee.hbm.xml</value>
		</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect= org.hibernate.dialect.MySQLInnoDBDialect
				hibernate.current_session_context_class=thread
			</value>
		</property>
	</bean>
	
	<bean id="dao" class="org.audintel.dao.EmployeeDao">
	 <property name="factory" ref="mysessionfactory"></property>
	</bean>

	<bean id="txmanager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
	  <property name="sessionFactory"  ref="mysessionfactory">
	  </property>
	</bean>
</beans>
