<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebApp1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/db4</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>mysql</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>org.example.web.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>org.com.web.UserServlet</servlet-class>
    <init-param>
      <param-name>country</param-name>
      <param-value>india</param-value>
    </init-param>
    <init-param>
      <param-name>state</param-name>
      <param-value>maharastra</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Person</display-name>
    <servlet-name>Person</servlet-name>
    <servlet-class>org.com.web.Person</servlet-class>
    <init-param>
      <param-name>language</param-name>
      <param-value>servlet</param-value>
    </init-param>
    <init-param>
      <param-name>ui</param-name>
      <param-value>HTML</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Person</servlet-name>
    <url-pattern>/Person</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServletData</display-name>
    <servlet-name>EmployeeServletData</servlet-name>
    <servlet-class>org.com.servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServletData</servlet-name>
    <url-pattern>/EmployeeServletData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDataPrg1</display-name>
    <servlet-name>UserDataPrg1</servlet-name>
    <servlet-class>com.example.servlet.UserDataPrg1</servlet-class>
  </servlet>
  
  
  
  
  
  
  
  
  
  
  
  <servlet-mapping>
    <servlet-name>UserDataPrg1</servlet-name>
    <url-pattern>/UserDataPrg1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.example.servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <filter>
    <display-name>CustomerFilter</display-name>
    <filter-name>CustomerFilter</filter-name>
    <filter-class>com.example.filter.CustomerFilter</filter-class>
    <init-param>
    <param-name>country</param-name>
    <param-value>india</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CustomerFilter</filter-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </filter-mapping>
</web-app>