<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav" style="margin-left:auto;margin-right: auto;">
    <li class="nav-item "><a (click)="goHome()" routerLinkActive="active" class="nav-link"
        class="btn btn-primary active">Home</a></li>
    <li class="nav-item "><a (click)="goAdmin()" routerLinkActive="active" class="nav-link"
        class="btn btn-primary active" role="button">View All Admins</a></li>
    <li class="nav-item "><a (click)="goAddAdmin()" routerLinkActive="active" class="nav-link"
        class="btn btn-primary active" role="button">Add New Admin</a></li>
  </ul>
</nav>

<h3 style="background-color: antiquewhite;">Add Administrator</h3>


<div class="row">
  <div class="col-sm-4">This is 1-3 column here
  </div>
  <div class="col-sm-4">
    <div [hidden]="submitted" style="width: 400px;">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Admin Id</label>
          <input type="text" id="id" required [(ngModel)]="usr.adminId" name="id" class="form-control">
        </div>
        <div class="form-group">
          <label for="name">Admin Name</label>
          <input type="text" id="name" required [(ngModel)]="usr.adminName" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Admin Password</label>
          <input type="password" id="password" required [(ngModel)]="usr.adminPassword" name="password"
            class="form-control" title="Password">
        </div>


        <div class="form-group">
          <label for="email">Admin Email</label>
          <input type="text" id="email" required [(ngModel)]="usr.adminEmail" name="email" class="form-control"
            title="Email-Id">

        </div>

        <div class="form-group">
          <label for="gender">Admin Gender</label>
          <select id="admin_gender" required [(ngModel)]="usr.adminGender" name="admin_gender" class="form-control"
            title="Gender">
            <option value="null">--Select Gender--</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>

        <button type="submit" class="btn btn-success">Add Admin</button>
        &nbsp;&nbsp;
        <button type="menu" (click)="goHome()">Cancel</button>
        <br><br>
        <button class="btn" style="background-color: coral;" type="reset">Reset</button>
      </form>
    </div>
  </div>
</div>

<div [hidden]="!submitted">
  <h4>You have successfully added a new Admin!!!</h4>
</div>
<br>