<!-- <h1>Hello to Angular</h1>
<h2>Title is {{title}}</h2>
<div>
<p>My company is {{company}}</p>
<p>No1  is {{n1}}</p>
<p>No2  is {{n2}}</p>
<p>Sum of  {{n1}} and  {{n2}} is {{n1+n2}}</p>

<!-- </div> -->
<app-math-program></app-math-program>
<!-- <app-customer></app-customer> -->
<!-- <app-student></app-student> -->
<!-- <app-interest-calculation></app-interest-calculation> -->

<!-- <app-product></app-product>  -->
 <!-- <app-person></app-person> -->
 <!-- <app-user></app-user>  -->
 <!-- <app-question></app-question> -->

<!-- <app-employee></app-employee> -->
<router-outlet></router-outlet>
