<h1>user page</h1>
 <img [src]="img1" [width]="img1width" height="img1height" />
 <img [src]="img2" alt="image2" [width]="img2width" height="img2height"/>
<br>
Id is {{user.id}}  <br>
 Name is {{user.name}}  <br>
 Salary is {{user.salary}}  <br>
 Hobbies are  is {{user.hobbies}}  <br>
<br>

    <label>Id </label>
    <input [value]="user.id"/>
    <br>
    <label>Name </label>
    <input [value]="user.name"/>
    <br>
    <label>Salary </label>
    <input [value]="user.salary|currency"/>
    <br>
    


<ul *ngFor="let h of user.hobbies">
    <li>{{h}}</li>
</ul>

<hr>
<table>
   <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Salary</th>
    <th>Hobbies</th>
   </tr>
   <tr *ngFor="let myuser of user1">
    <td>{{myuser.id}}</td>
    <td>{{myuser.name}}</td>
    <td>{{myuser.salary|currency}}</td>
    <td>{{myuser.hobbies}}</td>
   </tr>
</table>
<button (click)="userInfo()">User Info </button>

