
<h1 style="background-color:salmon"> <b> Health Care Hospital</b></h1>

  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<br>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav" style="margin-left:auto;margin-right: auto;">
        <li class="nav-item "><a (click)="goHome()" routerLinkActive="active" class="nav-link"
                class="btn btn-primary active">Home</a></li>
        <li class="nav-item "><a (click)="goAdmin()" routerLinkActive="active" class="nav-link"
                class="btn btn-primary active" role="button">View All Admins</a></li>
        <li class="nav-item "><a (click)="goAddAdmin()" routerLinkActive="active" class="nav-link"
                class="btn btn-primary active" role="button">Add New Admin</a></li>
    </ul>
</nav>

<div *ngIf="usr">

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div>
                <label>Admin Id</label>{{usr.adminId}}
            </div>
            <div>
                <label>Admin Name</label>{{usr.adminName}}
            </div>
            <div>
                <label>Admin Gender</label>{{usr.adminGender}}
            </div>
            <div>
                <label>Admin Email</label>{{usr.adminEmail}}
            </div>
            <br><br>
            <button type="reset" (click)="gotoList()">Go Back</button>
        </div>
        <div class="col-sm-4"></div>

    </div>
</div>