<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="user1" class="com.cts.model.User"
          scope="singleton">
        <property name="id" value="100001"></property>
        <property name="name" value="amit kumar"></property>
        <property name="salary" value="67000"></property>
    </bean>

    <bean id="insurance" class="com.cts.InsuranceInfoImpl"
          init-method="init" destroy-method="cleanup" lazy-init="true">
    </bean>

    <bean id="person1" class="com.cts.model.Person">
        <constructor-arg name="personId" value="767676"></constructor-arg>
        <constructor-arg name="personName" value="kamal kumar"></constructor-arg>
        <constructor-arg name="personSalary" value="45000"></constructor-arg>
    </bean>

    <bean id="emp1" class="com.cts.model.Employee" autowire="byType">
        <property name="id" value="88787"></property>
        <property name="name" value="anand kumar"></property>
        <property name="salary" value="34000"></property>

<!--        <property name="address" ref="address1"></property>-->
    </bean>
    <bean id="address11" class="com.cts.model.Address">
        <property name="addrId" value="8"></property>
        <property name="location" value="chennai"></property>
        <property name="country" value="india"></property>
    </bean>
<bean id="address12" class="com.cts.model.Address" autowire-candidate="false">
        <property name="addrId" value="8"></property>
        <property name="location" value="chennai"></property>
        <property name="country" value="india"></property>
    </bean>


</beans>
