
<form (ngSubmit)="onSubmit()">
    <h1>Person page</h1>
    <label>Enter Id</label>
    <input [(ngModel)]="id" name="id"  ><br>
    
    <label>Enter Name</label>
    <input [(ngModel)]="name" name="name"><br>
   
    <label>Enter Salary</label>
    <input [(ngModel)]="salary" name="salary"><br>
    
    <label>Enter Dob</label>
    <input [(ngModel)]="dob" name="dob"><br>
    <input type="submit" value="send" >
</form>
<hr  width="90%" size="20px" color="blue" >

<div [hidden]="!submitted" >
Id is {{id}}<br>
Name is {{name}}<br>
Salary is {{salary}}<br>
Dob is {{dob}}<br>
</div>