<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="h" class="com.cognizant.model.HelloWorld">

	</bean>

	<!-- injecting dependent object without innder bean -->
	<bean id="emp1" class="com.cognizant.model.Employee"
		scope="prototype">
		<property name="id" value="10001"></property>
		<property name="name" value="suresh kumar"></property>
		<property name="salary" value="678899.556f"></property>
		<property name="address" ref="addr2"></property>
	</bean>

	<bean id="addr2" class="com.cognizant.model.Address">
		<property name="addrId" value="8"></property>
		<property name="addrLocation" value="thorai pakkam"></property>
		<property name="addrPin" value="898989"></property>
	</bean>

	<!-- injecting dependent object using inner bean -->

	<bean id="emp3" class="com.cognizant.model.Employee">
		<property name="id" value="10001"></property>
		<property name="name" value="suresh kumar"></property>
		<property name="salary" value="678899.556f"></property>
		<property name="address">
		
			<!-- inner bean -->
		
			<bean id="addr1" class="com.cognizant.model.Address">
				<property name="addrId" value="8"></property>
				<property name="addrLocation" value="thorai pakkam"></property>
				<property name="addrPin" value="898989"></property>
			</bean>
		</property>
	</bean>



	<bean id="emp2" class="com.cognizant.model.Employee"
		scope="prototype" p:id="7887887" p:name="ram murthi" p:salary="45000">
	</bean>


	<bean id="user1" class="com.cognizant.model.User">
		<constructor-arg name="userId" value="9989898"></constructor-arg>
		<constructor-arg name="userName" value="ram parkash"></constructor-arg>
		<constructor-arg name="userSalary" value="45000"></constructor-arg>
	</bean>
</beans>