<table>
    <h1>Student Data</h1>
    <tr [ngStyle]="{color:'yellow','background-color':'blue'}">
        <th>Roll</th>
        <th>Name</th>
        <th>Subject</th>
        <th>Marks</th>
        <th>Grade</th>
        <th>Subject Detail</th>
    </tr>
    <tr *ngFor="let stud of student">
        <td>{{stud.roll}}</td>
        <td>{{stud.name}}</td>
        <td>{{stud.subject}}</td>
        <td>{{stud.marks}}</td>

        <td> <span *ngIf="stud.marks>=75 &&stud.marks<=100" [ngClass]="'distinction'">
                Distinction
            </span>
            <span *ngIf="stud.marks>=60 &&stud.marks<=74" [ngClass]="'first'">
                First
            </span>
            <span *ngIf="stud.marks>=50 &&stud.marks<=59" [ngClass]="'second'">
                Second
            </span>
            <span *ngIf="stud.marks>=35 &&stud.marks<=49" [ngClass]="'third'">
                Third
            </span>
            <span *ngIf="stud.marks>=0 &&stud.marks<=34" [ngClass]="'fail'">
                Fail
            </span>
            <span *ngIf="stud.marks>=100" [ngClass]="'invalid'">
                Invalid marks
            </span>
        </td>
        <td [ngSwitch]="stud.subject">
            <span *ngSwitchCase="'hindi'"> Hindi Literature</span>
            <span *ngSwitchCase="'tamil'"> Tamil Literature</span>
            <span *ngSwitchCase="'telugu'"> Telugu Literature</span>
            <span *ngSwitchCase="'science'"> Science Technology</span>
            <span *ngSwitchCase="'social science'"> Social Science </span>
            <span *ngSwitchCase="'english'"> English Literature </span>

        </td>
    </tr>
</table>