<table>
    <tr>
        <th colspan="5">Customer Data </th>
    </tr>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>DOB</th>
        <th>DOB</th>
        <th>DOB With Time</th>
        <th>Salary</th>
        <th>Salary</th>
        <th>Salary</th>
        <th>Location</th>
    </tr>
    <tr *ngFor="let customer1 of customer">
        <td>{{customer1.id}}</td>
        <td>{{customer1.name|uppercase}}</td>
        <td>{{customer1.dob|date}}</td>
        <td>{{customer1.dob|date:'dd/MM/yyyy z'}}</td>
        <td>{{customer1.dob|date:'dd/MM/yyyy EE h:mm:ss a'}}</td>
        <td>{{customer1.salary|currency}}</td>
        <td>{{customer1.salary|currency:'Rs'}}</td>
        <td>{{customer1.salary|currency:'₹':true:'6.2'}}</td>
        <td>{{customer1.location}}</td>
    </tr>
</table>
<div [ngClass]="'myjson'">
    {{customer|json}}
</div>