<nav class="navbar navbar-expand-sm bg-dark bg-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:;">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:;">Link 2</a>
      </li>
    </ul>
    <ul class="navbar-nav float-right">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" href="javascript:;">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>