<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletApp1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>org.example.web.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Welcome</url-pattern>
    <url-pattern>/Test</url-pattern>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalcServlet</display-name>
    <servlet-name>CalcServlet</servlet-name>
    <servlet-class>org.example.web.CalcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalcServlet</servlet-name>
    <url-pattern>/CalcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAction</display-name>
    <servlet-name>UserAction</servlet-name>
    <servlet-class>org.example.web.UserAction</servlet-class>
    <init-param>
      <param-name>country</param-name>
      <param-value>india</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAction</servlet-name>
    <url-pattern>/UserAction</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>greeting</param-name>
    <param-value>welcome to the servlet training</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>SessionPrg1</display-name>
    <servlet-name>SessionPrg1</servlet-name>
    <servlet-class>org.example.web.SessionPrg1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionPrg1</servlet-name>
    <url-pattern>/SessionPrg1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyOrderDetailServlet</display-name>
    <servlet-name>MyOrderDetailServlet</servlet-name>
    <servlet-class>org.example.web.MyOrderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrderDetailServlet</servlet-name>
    <url-pattern>/MyOrderDetailServlet</url-pattern>
  </servlet-mapping>
</web-app>