<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>

<body>

    <div class="container">
        <button type="button" class="btn btn-primary" (click)="getUsers()">FindUsers</button>
    </div>

    <div class="container">
         <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.mobile}}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <hr>
    <div class="container">
        <button type="button" class="btn btn-primary" (click)="getEmployees()">Show All Employee</button>
    </div>

    <div class="container">
         <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employees">
                    <td>{{emp.id}}</td>
                    <td>{{emp.name}}</td>
                    <td>{{emp.salary}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</body>

</html>