label{
   float:left;
   width: 120px;
 }
 input{
   width: 120px;
   margin-top: 5px;
   
 }
 form{
   border:blue outset 20px;
   padding: 20px;
   margin-left: 300px;
   margin-top: 100px;
   width:30%;
 }