<!-- <app-employee></app-employee> -->
 <!-- <app-customer></app-customer>  -->
<!-- <app-person></app-person> -->
<!-- <app-pipe-example></app-pipe-example> -->
<!-- <app-book></app-book> -->
<!-- <app-user></app-user> -->

<div class="container">
    <nav class="nav navbar-dark bg-light navbar-expand-sm">
        <ul class="navbar-nav" style="font-size: x-large">
            <li class="nav-item" style="margin-left: 200px;">
                <a routerLink="employee"  >Employee</a>
            </li>
            <li class="nav-item" style="margin-left: 40px;">
                <a routerLink="user"  >User</a>
            </li>
            <li class="nav-item" style="margin-left: 40px;">
                <a routerLink="person"  >Person</a>
            </li>
            <li class="nav-item" style="margin-left: 40px;">
                <a routerLink="book"  >Book</a>
            </li>
            <li class="nav-item" style="margin-left: 40px;">
                <a routerLink="customer"  >Customer</a>
            </li>
            
            <li class="nav-item" style="margin-left: 40px;">
                <a routerLink="pipe"  >Pipe</a>
            </li>


        </ul>


    </nav>


</div>



<router-outlet></router-outlet>
