<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <ul class="navbar-nav ml-4">
        <!-- <li class="nav-item">
            <a routerLink='employee'>
                Employee
            </a>
        </li>

        <li class="nav-item ml-4">
            <a routerLink='book'>
                Book
            </a>
        </li>
        <li class="nav-item ml-4">
            <a routerLink='customer'>
                Customer
            </a>
        </li>
        <li class="nav-item ml-4">
            <a routerLink='person'>
            person
            </a>
        </li>
        <li class="nav-item ml-4">
            <a routerLink='product'>
                Product
            </a>
        </li>
        <li class="nav-item ml-4">
            <a routerLink='user'>
                User
            </a>
        </li>
         -->
        <li class="nav-item ml-4">
            <a routerLink='product1'>
            All  Product
            </a>
        </li>
        <li class="nav-item ml-4">
            <a routerLink='searchprd'>
            Search Product
            </a>
        </li>
    </ul>


</nav>

<router-outlet>
</router-outlet>