<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

	<context:annotation-config></context:annotation-config>
	<bean class="com.abc.Student">

	</bean>


	<bean class="com.example.model.Department" name="dept1">
		<property name="deptId" value="98988998"></property>
		<property name="deptName" value="Training"></property>
		<property name="deptLocation" value="barli"></property>
		<property name="deptTotalMember" value="3"></property>
	</bean>



</beans>
