<div class="container" style="margin: 0 auto;">

  <h2 class="text-center mt-5">{{title}}</h2>


  <div class="container mt-4">

    <div class="form-holder">
      <div class="form-content">

        <form class="requires-validation form-control p-5"  #addressForm="ngForm" (ngSubmit)="updateAddress(addressForm.value)">


          <div class="row mb-4 mt-2">

            <div class="col m-lg-1">
              <div class="form-outline">
                <!-- -->
                <input ngModel class="form-control p-2 mt-2 w-100"  type="text" name="country" placeholder="{{address._country}}" required>
              </div>
            </div>

            <div class="col m-lg-1">
              <div class="form-outline">
                <!-- -->
                <input ngModel class="form-control p-2 mt-2 w-100" type="text" name="city" placeholder="{{address._city}}" required>
              </div>
            </div>

          </div>


          <div class="col-md-12   m-lg-1">
            <!-- -->
            <textarea ngModel class="form-control p-2 mt-2" name="details" placeholder="{{address._details}}"></textarea>
          </div>

          <div class="form-check">
            <!-- -->
            <input ngModel class="btn btn-danger  mb-1" type="checkbox" name="confirm" value="true" id="confirmAddresses" required>
            <label class="form-check-label m-lg-2">confirm</label>
          </div>


          <div class="form-button mt-3">
            <button id="submit2" type="submit" class="btn btn-dark  p-2" style="margin-right: 10px">Send</button>
            <button id="reset2" type="submit" class="btn btn-dark  p-2">Reset</button>
          </div>

        </form>

      </div>
    </div>
  </div>


</div>
