
<div class="page">
  <div class="home-container">
    <h1>Bem-vindo ao Sistema de Estudo de Guards no Angular</h1>
    <p>
      Este sistema foi desenvolvido para demonstrar o uso de Guards no Angular. Guards permitem controlar o acesso a diferentes partes de uma aplicação baseado em regras de autenticação e autorização.
    </p>

    <h2>Funcionalidades do Sistema:</h2>
    <ul>
      <li><strong>Autenticação:</strong> Implementação de Guards para controlar se o usuário está autenticado antes de acessar certas rotas.</li>
      <li><strong>Autorização:</strong> Verificação de permissões específicas para acessar determinados recursos, como roles (admin, usuário comum).</li>
    </ul>

    <p>
      Utilize o menu acima para navegar entre as funcionalidades. Explore os exemplos práticos de autenticação e autorização usando Guards do Angular.
    </p>

    <h3>Links úteis:</h3>
    <ul>
      <button (click)="login()">Login</button>
      <button (click)="adm()">ADM</button>
      <button (click)="profile()">Profile</button>
      <button (click)="dashboard()">Dashboard</button>
    </ul>
  </div>
</div>
