<div class="container border border-info p-5">
    <h3>Search By Id </h3>
    <form (ngSubmit)="searchbyId()">
         <div class="form-group">
            <label>Enter Id</label>
            <input class="form-control" [(ngModel)]="id" [ngModelOptions]="{standalone: true}">
         </div>
         <div>
            <button type="submit" class="btn btn-secondary ml-5" style="margin-left:10pt;margin-top:10pt;"> search</button>
         </div>
    </form>

  <div>
    {{c1|json}}
    {{msg}}
  </div>


  <div class="p-5">
      <button type="button" (click)="gotoadd()" class="btn btn-secondary" style="margin-right:5pt">Navigate to Add</button>
      <button type="button" (click)="gotoshowAll()" class="btn btn-secondary ml-5">Navigate to Show All</button>
  </div>

</div>
