<div [ngClass]="{style1:true}">
    <h1 class="text-primary bg-dark p-3" style="width:50%;margin:auto">Two Way Binding Ng Switch Case </h1>
    <div class="form-group text-info  p-5 bg-dark" style="width:50%;margin:auto">

        <label for="n1">Enter No1</label>
        <input [(ngModel)]="n1" class="form-control" id="n1"><br>

        <label for="n2">Enter No2</label>
        <input [(ngModel)]="n2" class="form-control" id="n2"><br>

        <label for="operation">Select Operation</label>
        <select [(ngModel)]="operation" class="form-control">
            <option value="Addition">Addition</option>
            <option value="Subtraction">Subtraction</option>
            <option value="Multiplication">Multiplication</option>
            <option value="Division">Division</option>
        </select>
    </div>
    <hr>


    <div class="form-group text-info  p-5 bg-dark" [ngStyle]="{width:'50%',margin:'auto'}">
        Result Details
        <br>No1 is {{n1}}
        <br>No2 is {{n2}}
        <br>Result is ...

        <div [ngSwitch]="operation">

            <div *ngSwitchCase="'Addition'">
                Addition of {{n1}} and {{n2}} is {{(n1/1)+(n2/1)}}
            </div>

            <div *ngSwitchCase="'Subtraction'">
                Subtraction of {{n1}} and {{n2}} is {{n1-n2}}
            </div>

            <div *ngSwitchCase="'Multiplication'">
                Multiplication of {{n1}} and {{n2}} is {{n1*n2}}
            </div>

            <div *ngSwitchCase="'Division'">
                Division of {{n1}} and {{n2}} is {{n1/n2}}
            </div>
        </div>
    </div>

    <div>
        <h1 class="text-primary bg-dark p-3" style="width:50%;margin:auto">
            Exponent Program
        </h1>

        <div class="form-group text-info  p-5 bg-dark" style="width:50%;margin:auto">
            <p>Exponent(2,3) is {{2|exponent:3}}</p>

            <label for="n3">Enter No</label>
            <input [(ngModel)]="n3" class="form-control" id="n3"><br>

            <label for="n4">Enter Exponent(Power)</label>
            <input [(ngModel)]="n4" class="form-control" id="n4"><br>
            <p>Exponent({{n3}},{{n4}}) is {{n3|exponent:n4}}</p>
        </div>
    </div>