<!-- <app-about></app-about>
<app-home></app-home>
<app-dashboard></app-dashboard> -->

<!-- 
<nav class="navbar navbar-expand-lg navbar-primary  bg-light">
    <ul class="collapse navbar-collapse">
        <li class="nav-item active" > <a class="nav-link" routerLink='home'>home</a></li>
        <li class="nav-item"> <a  class="nav-link" routerLink='about'>about</a></li>
        <li class="nav-item"> <a class="nav-link" routerLink='dashboard'>dashboard</a></li>
    </ul>
</nav> -->

<br><br><br><br><br><br>
<!-- <app-changecase></app-changecase> -->
<app-user></app-user>
<router-outlet></router-outlet>